body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.display-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#gameBoard {
  display: flex;
  gap: 15px;
}

.page-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

#gameBoard {
    display: flex;
    gap: 15px;
}

.button-container {
    width: auto;
}

.box-container {
    display: flex;
    gap: 15px;
}

.box {
    background: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    width: 45px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#newGameButton {
    background: #800000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

#gameplayText {
    font-size: 1.25em;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 576px) {
    .box {
        width: 67px;
        height: 90px;
        font-size: 45px;
    }

    #gameplayText {
        font-size: 1.875em;
    }

    #newGameButton {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .box {
        width: 90px;
        height: 120px;
        font-size: 60px;
    }

    #gameplayText {
        font-size: 2.5em;
    }

    #newGameButton {
        font-size: 2em;
    }
} 